body {
  background-image: url("images/beautiful-road.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 60px;
  background-attachment: fixed;
  font-family: 'segoe ui';
}
main {
margin-top: 10px;
}

h1 {
  color: white;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin: 0;
}

.your {
  margin-top: 50px;
  margin-bottom: 0;
}

.destination {
  margin-top: 0;
  margin-top: 0;
}

.start {
  color: rgb(255, 0, 0);
  margin-left: 170px;
  padding: 5px;
}

button {
  color: grey;
  margin-left: 50px;
  border-radius: 50px;
  padding: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p {
  color: white;
  margin-left: 50px;
  margin-top: 100px;
  font-weight: 500;
  font-size: 20px;
}

.vehicles {
  display: inline-block; 
  text-align: center;
  width: 22%;
  color: white;
  font-size: 30px;
}
  /* Media query for small screens like touchphones */
@media (max-width: 576px) {
  .vehicles {
    font-size: 16px;
  }  
}

/* Media query for medium-sized screens like tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .vehicles {
    font-size: 25px;
  }
}

/* Media query for larger screens */
@media (min-width: 769px) {
  .vehicles {
    font-size: 40px;
  }
}

.box {
  width: fit-content;
  margin: 0; /* Add some margin to separate the boxes */
  display: inline-block; /* Set the "box" divs to inline-block */
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  color: white;

}

.box:hover {
  color: red;
}

.route {
  margin-top: 90px;
}

.container {
  margin-bottom: 50px;
}

body {
  padding-top: 60px;
  padding-right: 50px;
}




