@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color with transparency */
    backdrop-filter: blur(00.025px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 1000px; /* Change the width to make the card wider */
    display: flex;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: left;
    max-width: 80%; /* Change the maximum width to make the image larger */
    padding: 30px;
    /* opacity: 0.9;    */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* This will ensure the image covers the container */
}

.sign-in-container {
    flex: 0.5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-container h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
}

.sign-in-container p {
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}

.social-container {
    margin-top: 10px;
}

.social {
    color: #fff;
    background-color: #3b5998;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.infield {
    position: relative;
    margin-bottom: 20px;
}

.infield input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}

.infield label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}

.infield input:focus + label,
.infield input:valid + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #6c63ff;
}

button {
    background-color: #6c63ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
    font-family: 'Poppins', Arial, sans-serif;
}

button:hover {
    background-color: #5145c0;
}

.forgot {
    color: #6c63ff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}

.create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.create-account p {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
}

.create-link {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    color: #6c63ff;
    margin-top: 10px;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
}

footer mark {
    padding: 8px 30px;
    border-radius: 7px;
}

footer a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #003;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
}
